body {
    text-align: center;
    background-color: rgb(234, 201, 255);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 35px;
    margin: 30px;
    background-image: linear-gradient(to left, limegreen, hotpink);
    -webkit-background-clip: text;
    color: transparent;
}

button {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.choice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 20px;
    padding: 10px;
    font-size: 25px;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 25px;
}