body {
    background-color: rgb(208, 182, 220);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p {
    margin: 25px;
}

button {
    margin: 25px;
    font-size: 50px;
    background-color: rgb(156, 137, 165);
}

#finalResult {
    margin: 25px;
    font-size: 75px;
}

#results {
    margin: 25px;
    font-size: 20px;
}

#scores {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}